# Titanic Dataset

|Variable|Definition|Key|
|---|---|---|
|Survived|Survival|0 = No, 1 = Yes|
|Pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|Name|Name||
|Sex|Sex||
|Age|Age in years	||
|SibSp|# of siblings / spouses aboard the Titanic||
|Parch|# of parents / children aboard the Titanic||
|Ticket|Ticket number||
|Fare|Passenger fare||
|Cabin|Cabin number||
|Embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|

## Import Libraries and Data
Import Necessary Libraries

In [1]:
# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# to restrict the float value to 3 decimal places
pd.set_option('display.float_format', lambda x: '%.3f' % x)

done

Import The Dataset

In [2]:
#import data as a pandas dataframe

# Access the .csv file in Google Drive folder. The file path must be correct
data = pd.read_csv('Titanic_Dataset.csv')

## Data Check
- View the first and last rows of the dataframe
- Determine the number of entries in the dataframe
- Check the data types for each entry
- Check for missing values
- Check and remove duplicate values
- Create a statistical summary of the numerical data

## Question 1 - Create a dataframe containing only passengers who embarked from Southhampton

## Question 2 - Create a dataframe containing the last 30 entries in the dataset and include only the names and cabin numbers for these passengers.

## Question 3 - How many passengers travelled 1st class, 2nd class and 3rd class?

## Question 4 - What was the mean age of survivors of the Titanic? What is the sum of all the ages for the survivors?

## Question 5 - What percentage of the passengers were women? (women/total passengers)

## Question 6: From which port did the most number of 3rd class passengers embark?

## Question 7 - What percentage of women survived? ( female survivors / total women) And what percentage of men survived? (male survivors/ total men)

## Question 8 - Create a table displaying the survival rates(percentage) of female and male passengers traveling in 1st, 2nd, 3rd class. (number of survivors/total number of passengers in that class of a particular class)